<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unionplatform.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Union Platform</name>
    <description>Plataforma open-source para sindicatos</description>
    <author email="fesargpy@gmail.com" href="https://argentina.fes.de/">
        FUNDACIÓN FRIEDRICH EBERT
    </author>
    <icon src="res/logo.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
